$Gradient: hsl(6, 100%, 80%) hsl(335, 100%, 65%);

$color-paleBlue: hsl(243, 100%, 93%);
$color-grayishBlue: hsl(229, 7%, 55%);
$color-darkBlue: hsl(228, 56%, 26%);
$color-veryDarkBlue: hsl(229, 57%, 11%);
$color-white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: url("images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  @media (min-width: 1140px) {
    background-color: $color-veryDarkBlue;
    background-image: url("images/bg-desktop.png");
    background-size: 150rem;
    background-position: bottom -6rem left;
  }
}
